@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

/* Overlay Scrollbars */
.os-scrollbar-handle {
  background: rgba(195, 195, 195, 0.5) !important;
}

.os-scrollbar-handle:hover {
  background: rgba(225, 225, 225, 0.5) !important;
}

.os-scrollbar-handle:active {
  background: rgba(255, 255, 255, 0.5) !important;
  /* background: rgba(245, 158, 11, 0.5) !important; */
}
